# Virtual environment folders
venv/
.env/
virtualEnv/


# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and debug
*.log

# Environment variables
.env

# IDE specific files
.vscode/
.idea/

# Other system files
.DS_Store
Thumbs.db

knowledgeBased/config.yaml